<div class="jumbotron" style="background-color: #990000; border-color:#FFCC00;">
  <p style="float: left;color:#FFCC00;">DL3CAP5424</p>
  <p style="float: right;color:#FFCC00;">{{balance}} ETH</h1>
</div>

<div class="jumbotron" style="background-color: #990000; border-color:#FFCC00;">
  <p style="color:#FFCC00">Connected To DL3CAP5426</p>
  {{# each pos}}
  <span class="fa fa-star checked"></span>
  {{/each}}
  {{# each neg}}
  <span class="fa fa-star"></span>
  {{/each}}
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Services Provided By Me</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
    <a href="#" class="list-group-item active" style="background-color: #990000;border-color:#FFCC00;">
    <h4 class="list-group-item-heading" style="color:#FFCC00">Traffic Data Information(0.5 ETH)</h4>
    <p class="list-group-item-text" style="color:#FFCC00">Contains Traffic Details of the journey from Downtown Los Angeles to Long Beach</p>
  </a>
</div>
<div class="list-group">
<a href="#" class="list-group-item active" style="background-color: #990000;border-color:#FFCC00;">
<h4 class="list-group-item-heading" style="color:#FFCC00">Food Stop Information(0.5 ETH)</h4>
<p class="list-group-item-text" style="color:#FFCC00">Contains food outlets in the jounrey from Downtown Los Angeles to Long Beach</p>
</a>
</div>
  </div>
</div>


<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Services Provided By DL3CAP5426</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
    <a href="/sendingB" onclick="window.open('/receiveA');"class="list-group-item">
    <h4 class="list-group-item-heading">Electric Vehicle Charge Point Information(0.5 ETH)</h4>
    <p class="list-group-item-text">Contrains Data for nearest electric vehice charging stations in the Downtown Los Angeles Area</p>
  </a>
</div>
<div class="list-group">
<a href="/sendingB" onclick="window.open('/receiveA');" class="list-group-item">
<h4 class="list-group-item-heading">Accident Data Information(0.5 ETH)</h4>
<p class="list-group-item-text">Contains nearby accident details on the Freeway 32 Santa Monica Expressway</p>
</a>
</div>
  </div>
</div>

<div id="pbar" class="progress">
  <div id="dynamic" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    <span id="current-progress"></span>
  </div>
</div>


<div id = "paneldiv" div class="panel panel-warning" style="display:none;">
  <div class="panel-heading">
    <h3 class="panel-title">Scheduling Information</h3>
  </div>
  <div class="panel-body">
    <div class="well well-sm">Currently Scheduling : Traffic Data</div>
    <div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 82%">
    <span>CPU</span>
  </div>
</div>
<div class="progress">
<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
  <span>Memory</span>
</div>
</div>


<div class="progress">
<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
  <span>Network</span>
</div>
</div>
  </div>
</div>

<script>
$(function() {
var current_progress = 0;
var interval = setInterval(function() {
    current_progress += 10;
    $("#dynamic")
    .css("width", current_progress + "%")
    .attr("aria-valuenow", current_progress)
    .text("Gathering Scheduling Information!");
    if (current_progress >= 100)
        clearInterval(interval);
}, 1000);
});
</script>

<script>
        window.onload = function () {
            setTimeout(appeardiv,11000);
        }
        function appeardiv() {
            document.getElementById('paneldiv').style.display= "block";
            document.getElementById('pbar').style.display= "none";
        }
    </script>
