<div class="jumbotron">
  <h1>Thank You For Using MOTIVE!</h1>
  <p>Meanwhile our nodes confirm your transaction into the blockchain , your rating will be updated after the other person votes for this transaction!</p>
</div>
