<div class="jumbotron" style="background-color: #990000">
  <h1 style="color:#FFCC00">Thank You For Using MOTIVE!</h1>
  <p style="color:#FFCC00">Meanwhile our nodes confirm your transaction into the blockchain , your rating will be updated after the other person votes for this transaction!</p>
</div>
